<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="owner">
	
	<!-- 업자 회원가입 -->
	<insert id="ownerInsert" parameterType="OwnerVO">
		INSERT INTO ownerInfo(ownerid, ownerpass, ownername, ownerpn, ownermail, ownerdate)
		VALUES(#{ownerid}, #{ownerpass}, #{ownername}, #{ownerpn}, #{ownermail}, now())
	</insert>
	
	<!-- 로그인시 아이디 체크 -->
	<select id='idCheck' parameterType="OwnerVO" resultType="OwnerVO">
		SELECT * FROM ownerInfo
			<where>
				<if test="ownerid != null">
					ownerid = #{ownerid}
				</if>
				<if test="ownerpass != null">
					AND ownerpass = #{ownerpass}
				</if>
			</where>
	</select>
	
	<!-- 구인공고 게시판 데이터 삽입 -->
	<insert id="ownerBoardInsert" parameterType="com.javassem.domain.OwnerBoardVO">
		INSERT INTO board_owner(normal_emergency, shopname, jobDate, jobTime_start, jobTime_end, need_Num, regDate)
		VALUES(#{normal_emergency}, #{shopname}, #{jobDate}, #{jobTime_start}, #{jobTime_end}, #{need_Num}, now())
	</insert>
	
	<!-- 구인공고 게시판 리스트 표기 -->
	<select id="ownerBoardList" resultType="com.javassem.domain.OwnerBoardVO">
		<![CDATA[
			SELECT * FROM board_owner ORDER BY board_owner_seq DESC
		]]>
	</select>	

	<!-- 업체 정보 추가 -->
	<insert id="shopInsert" parameterType="OwnerVO">
		INSERT INTO shopInfo(shopname, shopaddr, shoppn, shopcontent, shopdate, ownernum, si_fname,si_realname)
		VALUES(#{shopname},#{shopaddr},#{shoppn},#{shopcontent}, now(), #{ownernum},#{si_fname}, #{si_realname});
	</insert>

	<!-- 업체 정보 표기 -->
	<select id='shopSelect' parameterType="OwnerVO" resultType="OwnerVO">
		SELECT * FROM shopInfo
			<where>
				<if test="ownerid != null">
					ownerid = #{ownerid}
				</if>
				<if test="ownerpass != null">
					AND ownerpass = #{ownerpass}
				</if>
			</where>
	</select>
	
	<!-- 로그인한 업자에 대한 업체 정보 표기 -->
	<select id="getList"  parameterType="OwnerVO" resultType="OwnerVO">
		<![CDATA[
			SELECT * FROM ownerInfo o,shopInfo s
		]]>	
			<where>
				o.ownerNum = s.ownernum
				AND o.ownerNum = #{ownernum} 
			</where>
	</select>

</mapper>