.body_container{
  margin-left: 15%;
  border:solid 5px black;
  display: flex;
}

.body_container_left{
  width: auto;
  height: 80px;

  flex:3;
  border:solid 5px red;
}

.body_container_center{
  flex:3;
  border:solid 5px green;
}

.body_container_right{
  flex:3;
  border:solid 5px blue;
}

.left_nav {
  list-style-type: none;
  padding: 0px;
  
  margin-left: 35px;
  width: 11%;
  background: pink;
  height: 50%;
  overflow: auto;
  position: fixed;
  border-radius: 8px;
  

}

.left_nav_text {
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #000;
  font-weight: bold;
}

.left_nav_text:hover {
  background: #333;
  color: #fff;
}

.left_nav_text .home {
  background : #333;
  color: #fff;
}

.cd1 {
  margin-left: 120px;
}

div.minimalistBlack {
  border: 3px solid #000000;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.divTable.minimalistBlack .divTableCell, .divTable.minimalistBlack .divTableHead {
  border: 1px solid #000000;
  padding: 5px 0px;
}
.divTable.minimalistBlack .divTableBody .divTableCell {
  font-size: 13px;
}
.divTable.minimalistBlack .divTableHeading {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #000000;
}
.divTable.minimalistBlack .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.minimalistBlack .tableFootStyle {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 3px solid #000000;
}
.minimalistBlack .tableFootStyle {
  font-size: 14px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}


.body_container_center_shop_contanier{
  display: flex;
}
.body_container_center_shop_contanier_img{
  flex:5;
  border:solid 5px rosybrown;
  height: 300px;
}
.body_container_center_shop_contanier_info{
  flex:5;
  border:solid 5px khaki;
  height: 300px;
}

.body_container_center_shop_contanier_info_ta{
  display: flex;
  margin-right: 100px;
}


/*------------------------------테이블   ----------------------*/

table tr td{
  border: 4px solid lightcoral;
}
table{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 80px;
}
.table_title{
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 100px;
}
.store_button{
  width: 150px;
  height: 50px;
  background-color: rgb(255, 230, 4);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.chart_number{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 40px;
}

/*---------------- 상단 게시판 ---------------------- */

ul, li{ 
  list-style:none;
  text-align:center;
  padding:0;
  margin:0;
}

#mainWrapper{
  width: 800px;
  margin: 0 auto; /*가운데 정렬*/
}

#mainWrapper > ul > li:first-child {
  text-align: center;
  font-size:14pt;
  height:40px;
  vertical-align:middle;
  line-height:30px;
}

#ulTable {margin-top:10px;}


#ulTable > li:first-child > ul > li {
  background-color:#c9c9c9;
  font-weight:bold;
  text-align:center;
}

#ulTable > li > ul {
  clear:both;
  padding:0px auto;
  position:relative;
  min-width:40px;
}
#ulTable > li > ul > li { 
  float:left;
  font-size:10pt;
  border-bottom:1px solid silver;
  vertical-align:baseline;
}    

#ulTable > li > ul > li:first-child               {width:10%;} /*No 열 크기*/
#ulTable > li > ul > li:first-child +li           {width:45%;} /*제목 열 크기*/
#ulTable > li > ul > li:first-child +li+li        {width:20%;} /*작성일 열 크기*/
#ulTable > li > ul > li:first-child +li+li+li     {width:15%;} /*작성자 열 크기*/
#ulTable > li > ul > li:first-child +li+li+li+li{width:10%;} /*조회수 열 크기*/

#divPaging {
    clear:both; 
  margin:0 auto; 
  width:220px; 
  height:50px;
}

#divPaging > div {
  float:left;
  width: 30px;
  margin:0 auto;
  text-align:center;
}

#liSearchOption {clear:both;}
#liSearchOption > div {
  margin:0 auto; 
  margin-top: 30px; 
  width:auto; 
  height:100px;

}

.left {
  text-align : left;
}

/*-------------------오른쪽 상단 업체 이미지  -----------------*/

.shop_img{
  width: 400px;
  height: 200px;
  border: 5px solid lightgreen; 
}
.store{
  display: flex;
}
.talk_store{
  width: 50px;
  height: 50px;
  background-color: lime;
  border-radius: 25px;
}
